.home_container {
    height: 86vh;
    background: #141414;
    color: #edc9b0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1px solid rgb(59, 59, 59);
    position: relative;
}

.home_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 70px;
}

.home_heading p {
    color: whitesmoke;
    font-size: 16px;
    margin-top: -30px;
}

/* ================ MEDIA QUERIES(SMALL DEVICES)==================== */
@media (max-width: 600px){
    .home_heading{
        text-align: center;
    }
    
}

/* ================ MEDIA QUERIES(MEDIUM DEVICES)==================== */ 
@media (min-width: 601px) and (max-width: 1024px){

    
}