.navbar_container{
    position: relative;
    /* border: 3px solid black; */
    /* border-bottom: 3px; */
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.navbar_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    font-size: 18px;
    font-weight: 600;
}

.link{
    text-decoration: none;
    color: black;
}

.nav_button{
    background: #e2b69d;  
    padding: 9px;  
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 17px;
    /* font-weight: 600; */
    font-size: 16px;
}

.nav_button:hover{
    background: rgb(198, 9, 9);  
}